<html>
 	<head>
		<meta charset="utf-8" />
			<meta name="viewport" content="width=devide-width, initial-scale=1.0">
		<title>Moru Home</title>
		<link rel = "stylesheet" type = "text/css" 
    href = "static/style.css" >
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;600&display=swap" rel="stylesheet">
		<link rel = "stylesheet" type = "text/css" 
    href = "static/style.css" >
	</head>

  <div class="header">
    <h> Home </h>
  </div>

  <div class="topnav" id="myTopnav">
    <a href="{{ url_for('index') }}">Dashboard</a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ&ab_channel=RickAstleyVEVO">D'App Portal</a>
    <a href="{{ url_for('home') }}"class="active">Home</a>
    <a href="{{ url_for('shop') }}">Shop</a>
    <a href="{{ url_for('help') }}">Help</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
  </div><br>

  <body>
    <h2> Your Home </h2>
    <input type="image" src="{{url_for('static', filename='bghome.jpg')}}" style="height: 50%" class="center" name="buttontip" class="buttontip" id="buttontip" /></input>
  </body>
  
</html>